<!-- <nav class="container-fluid py-3 bg-color-main">
  <div class="d-flex justify-content-between">
    <span>
      <a routerLink="home">Inicio</a> | <a routerLink="shop">Tienda</a>
    </span>
    <span></span>
    <span>
      <a routerLink="login">Iniciar Sesión</a>
    </span>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg bg-color-main">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Wooden Craft</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link f-color transp" routerLink="shop">Tienda</a>
        <a class="nav-link f-color transp" routerLink="login">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</nav>
