<!-- <nav class="container-fluid py-3 bg-color-main">
  <div class="d-flex justify-content-between">
    <span>
      <a routerLink="home">Inicio</a> | <a routerLink="shop">Tienda</a>
    </span>
    <span></span>
    <span>
      <a routerLink="login">Iniciar Sesión</a>
    </span>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg py-3 bg-color-main">
  <div class="container-fluid ps-5">
    <a class="navbar-brand" routerLink="home">Wooden Craft</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link color-white opacity" routerLink="products"
          >Creaciones</a
        >
      </div>
      <div class="navbar-nav">
        <a class="nav-link color-white opacity" routerLink="aboutUs"
          >Willi Bastidas</a
        >
      </div>
      <div class="navbar-nav">
        <a
          class="nav-link color-white opacity"
          routerLink="shop"
          (click)="mustLogin()"
          >Tienda</a
        >
        <!-- <a class="nav-link color-white opacity" routerLink="login">Iniciar Sesión</a> -->
      </div>
    </div>
  </div>
  <div class="pe-3">
    @if (loginService.isLoged()) {
    <button
      type="button"
      class="btn color-white max-weight"
      (click)="loginService.logout()"
    >
      Cerrar Sesión
    </button>
    } @else {
    <a class="nav-link color-white max-weight" routerLink="login"
      >Iniciar Sesión</a
    >
    }
  </div>
</nav>
