<p>Tienda works!</p>

<section>
  <div class="row py-1 px-4">
    <div class="height-base border border-color-primary"></div>
  </div>

  <div class="row py-1 px-4">
    <div class="col-lg-6 height-base border border-color-primary"></div>
    <div class="col-lg-6 height-base border border-color-primary"></div>
  </div>

  <div class="row py-1 px-4">
    <div class="height-base border border-color-primary"></div>
  </div>

  <div class="row py-1 px-4">
    <div class="col-4 height-base border border-color-primary"></div>
    <div class="col-4 height-base border border-color-primary"></div>
    <div class="col-4 height-base border border-color-primary"></div>
  </div>
</section>
