<!-- 
 ...........................................................................
 ...........................................................................
 .................................. CARDS ..................................
 ...........................................................................
 ...........................................................................
 -->
@if (projects.length > 0) {
<!-- Mostrar todos los proyectos iterando -->
<ol class="list-style-non">
  @for (project of projects; track $index) {
  <li>
    <div class="card my-border-radius-rounded mt-4" style="width: 18rem">
      <img
        src="http://localhost:2998/images/projects/{{ project.image }}"
        class="card-img-top my-border-radius-rounded-top"
        alt="Imagen de un/a {{ project.name }}"
      />
      <div class="card-body opacity-decreasing">
        <h5 class="card-title p-3 nanum-regular">
          {{ project.place.facility }}
        </h5>
        <div>
          <div class="card-body p-2 my-color-black my-border-radius">
            <!-- {{ "Remodelar: " + project.redisign => remodelar }}
            <br /> -->
            {{ "Presupuesto de: " + project.budget + " COP" }}
            <br />
            {{ "Creación del proyecto: " }}
            {{ project.createdAt | date : "shortDate" }}
          </div>
        </div>
        <div class="text-center nanum-regular">
          <div
            class="btn-group py-2 d-flex justify-content-evenly"
            role="group"
            aria-label="Basic mixed styles example"
          >
            <button
              type="button"
              class="btn my-bg-color-main my-color-white my-border-radius-rounded"
              (click)="handleEdit(project._id)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn my-color-white my-bg-color-red my-border-radius-rounded"
              (click)="handleDelete(project._id)"
            >
              Borrar
            </button>
          </div>
        </div>
        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </li>
  }
</ol>

} @else{
<p class="my-color-white">Mira los proyectos que crees acá</p>
}
<br /><br />
<!-- 
 ...........................................................................
 ...........................................................................
 ............................. USER DATA FORM ..............................
 ...........................................................................
 ........................................................................... 
 -->

<form class="my-color-white" (ngSubmit)="createProjectSubmit()">
  <div><h5>¡Crea tu proyecto!</h5></div>
  <div class="medidas">* <span class="font-little">Campo Requerido</span></div>
  <div class="row py-4">
    <div class="mb-3">
      <label for="facility" class="form-label">* Lugar</label>
      <input
        type="text"
        class="form-control width-string"
        id="facility"
        placeholder="Escribe el lugar del proyecto"
        name="facility"
        required
        [(ngModel)]="facility"
      />
      <br />
    </div>

    <div class="mb-3">
      <div class="medidas font-little">* Danos las medidas en metros</div>
      <label for="height" class="form-label">Alto </label>
      <input
        type="number"
        class="form-control width-number"
        id="height"
        name="height"
        [(ngModel)]="height"
      />
    </div>

    <div class="mb-3">
      <label for="width" class="form-label">Ancho </label>
      <input
        type="number"
        class="form-control width-number"
        id="width"
        name="width"
        [(ngModel)]="width"
      />
    </div>

    <div class="mb-3">
      <label for="depth" class="form-label">Profundo </label>
      <input
        type="number"
        class="form-control width-number"
        id="depth"
        name="depth"
        [(ngModel)]="depth"
      />
    </div>

    <div class="mb-3">
      <label for="inputImage" class="form-label"
        >* Carga una sola imagen del lugar del proyecto</label
      >
      <input
        type="file"
        class="form-control width-string"
        id="inputImage"
        required
        aria-describedby="imageHelp"
        (change)="inputFile($event)"
      />
    </div>

    <div class="mb-3">
      <br />
      <br />
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="redesign"
          name="redesign"
          [(ngModel)]="redesign"
        />
        <!-- aria-describedby="inStockHelp" -->
        <label class="form-check-label" for="redesign"
          >¿Quieres que sea remodelación completa ?</label
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="budget" class="form-label"
        >Presupuesto para tu proyecto
        <div class="font-little">*COP</div>
      </label>
      <input
        type="number"
        class="form-control width-number"
        id="budget"
        name="budget"
        [(ngModel)]="budget"
      />
    </div>

    <button
      type="submit"
      class="btn bg-my-color col-12 my-color-black my-bg-color-main-light my-border-radius width"
    >
      Crear Proyecto
    </button>
  </div>
</form>
