<!-- <form [formGroup]="loginCredentialsData" (ngSubmit)="handleSubmit()">
  <input type="text" placeholder="Usuario" formControlName="email" />
  <input type="password" placeholder="Contraseña" formControlName="password" />
  <input type="submit" value="Iniciar Sesión" />
</form> -->

<!-- METER UN DIV -->
<form [formGroup]="loginCredentialsData" (ngSubmit)="handleSubmit()">
  <div class="row py-4">
    <div class="col">
      <input
        type="text"
        class="form-control my-border-radius d-flex justify-content-evenly max-width"
        formControlName="email"
        placeholder="Usuario"
      />
      <br />
    </div>
    <div class="col">
      <input
        type="password"
        class="form-control my-border-radius d-flex justify-content-evenly max-width"
        formControlName="password"
        placeholder="Contraseña"
      />
      <br />
    </div>
    <div class="d-grid gap-2 d-flex justify-content-evenly">
      <input
        type="submit"
        value="Iniciar Sesión"
        class="my-color-black my-bg-color-main-light my-border-radius width"
      />
    </div>
  </div>
</form>
<div class="fit-viewport"></div>
