<p>products works!</p>

<!-- 
 ...........................................................................
 ...........................................................................
 ............................. Main Container ..............................
 ...........................................................................
 ........................................................................... 
 -->

<section>
  <!-- main section, all products -->

  <section class="container-lg row">
    <div class="col-9 p-4 a">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed mollitia
      corporis ab, pariatur totam dignissimos nostrum consequuntur doloremque
      est praesentium nihil repellat repudiandae eaque odit dolorem itaque
      quaerat natus rerum reiciendis error sequi recusandae nulla.
    </div>
    <div class="col-3 a mt-5 pt-4 ps-5 prata-regular">–Heredables</div>
  </section>

  <section class="container-lg row row-cols-2">
    <div>
      <div class="montserrat-light mt-4 p-2 myBorder">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem nihil
        eveniet excepturi expedita delectus, unde dolor id, corporis quas veniam
        tempora quae fugit distinctio quia.
      </div>
      <div class="montserrat-light mt-4 p-2 myBorder">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem nihil
        eveniet excepturi expedita delectus, unde dolor id, corporis quas veniam
        tempora quae fugit distinctio quia.
      </div>
      <div class="montserrat-light mt-4 p-2 myBorder">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem nihil
        eveniet excepturi expedita delectus, unde dolor id, corporis quas veniam
        tempora quae fugit distinctio quia.
      </div>
      <div class="montserrat-light mt-4 p-2 myBorder">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem nihil
        eveniet excepturi expedita delectus, unde dolor id, corporis quas veniam
        tempora quae fugit distinctio quia.
      </div>
    </div>

    <div class="mt-derecha">
      <div class="montserrat-light mt-4 p-2 myBorder">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum a amet
        dicta, odit error reiciendis velit voluptate ullam, labore quidem nulla
        ab, laboriosam nobis. Dolorem!
      </div>
      <div class="montserrat-light mt-4 p-2 myBorder">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum a amet
        dicta, odit error reiciendis velit voluptate ullam, labore quidem nulla
        ab, laboriosam nobis. Dolorem!
      </div>
      <div class="montserrat-light mt-4 p-2 myBorder">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum a amet
        dicta, odit error reiciendis velit voluptate ullam, labore quidem nulla
        ab, laboriosam nobis. Dolorem!
      </div>
      <div class="montserrat-light mt-4 p-2 myBorder">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum a amet
        dicta, odit error reiciendis velit voluptate ullam, labore quidem nulla
        ab, laboriosam nobis. Dolorem!
      </div>
    </div>
  </section>
</section>
