<footer class="container-fluid text-center py-3 end my-bg-color-main">
  <section class="footer">
    <div class="logo">
      <a class="navbar-brand prata-regular" routerLink="home"
        ><img
          src="../../../assets/images/favicon.ico"
          alt="Wooden Craft logo"
        />
        Wooden Craft</a
      >
    </div>

    <div class="shop">
      <a class="navbar-brand nanum-regular" routerLink="shop">Hazlo en Casa</a>
    </div>

    <div class="copyright">
      <span class="color-white montserrat-regular">&copy; 2024</span>
    </div>
  </section>
</footer>
