<footer class="container-fluid text-center py-3 end my-bg-color-main">
  <section class="footer">
    <div class="text-center">
      <div class="logo my-bg-color-main my-height-logo">
        <a class="navbar-brand prata-regular" routerLink="home">
          Wooden Craft
          <img
            src="../../../assets/images/favicon.ico"
            alt="Wooden Craft logo"
          />
        </a>
      </div>
      <div class="">
        <div class="card-text button shop my-height-shop">
          <a class="navbar-brand nanum-regular" routerLink="shop"
            >Hazlo en Casa</a
          >
        </div>
      </div>
      <div class="text-body-secondary copyright my-height-copyright">
        <a
          href="https://github.com/JuanArz2"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="my-color-black montserrat-regular"
            >&copy; 2024 | JuanArz2</span
          ></a
        >
      </div>
    </div>
  </section>
</footer>
