.footer {
  font-family: "Nanum Myeongjo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  height: 150px;

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-items: center;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo {
  grid-column: 4 / 6;
}

.shop {
  grid-column: 6 / 8;
}

.copyright {
  grid-column: 11;
}
